@font-face {
    font-family:'minhafonte';
    src:url("./assets/HastinaFreeFont.otf");
}

/*Estilização BODY do site*/
body{
    margin: 0;
    border: 0;
    font-family: 'minhafonte';
}
.logo{
    width: 005%;
    margin: 10px 0 0 10px;
}
/*Estilização do header do site*/
header{
    background-color: #071A3D;
}
/*ESTILIZAÇÃO DIV DO SITE*/
.divHeader{
    position: relative;
    margin: auto;
    width: 80%;
    padding-bottom: 10px; /* espaçamento baixo*/
}

/*ESTILIZAÇÃO MENU DO SITE*/
nav {
    position: absolute;
    top: 10px;
    right: 150px;
}
/*nav li, nav a{
    display: inline;
    color: white;
    font-size: 20px;
    margin-right: 20px;
} */

nav li, nav a {
    display: inline;
    color: white;
    font-size: 20px;
    margin: 0 10px; /* margem lateral igual nos dois lados */
    text-decoration: none;
}

.banner {
    width: 100%;
    height: fit-content;
}


/*Estilização da sessão SOBRE NÓS*/
.sobrenos{
    margin: 1;
    background-color: white;
    text-align: justify;
    margin: auto;
    width: 50%;
    margin-left: 20%;
}
.titulo_sobrenos{
    clear: left;
    text-align: center;
    font-size: 32px;
    color: #8b4513;
}
.titulo_sobrenos{
    color: #d4a373;
    transition: 1s;
    cursor: pointer;
}

.para_sobre{
    font-size: 90px;
}

.texto_diferente{
    color: #071A3D;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.container_sobre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 150px;
    text-align: center;
    background-color: white;
}

/*Imagem do sobre nós*/
.img_sobrenos {
    width: 400px;
    float: left;
    margin: 0 20px ;
    height: 500px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 10px 5px 5px  rgba(0, 0, 0, 0.3);
}

.img_sobrenos:hover{
    transform: translateY(-30px);
    transition: 1s all; 
}

.para_sobre{
    padding: 0 140px 50px 140px;
    font-size: 18px;
    text-align: justify;
}

/*Estilizaçâo do footer*/
footer{ 
    background: url("./assets/fundo_rodape.png") no-repeat;
    background-size: 100%;
    height: 150px;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: blue;
    padding: 20px 10px 10px 0;
}

footer i{
    color: #f4f5f7;
}

footer p{
    color: #fbfdff;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    margin: 0;
    padding: 0 10px 20px 0;
}

.logo_footer{
    width: 8%;
    margin-left: 84%;
}

