@font-face {
    font-family: 'minhafonte';
    src: url("./assets/HastinaFreeFont.otf");
}


/*HEADER - Estilização */

body {
    margin: 0;
    border: 0;
    font-family: 'minhafonte';
    background: linear-gradient( #ffffff 0%, #0d2a47 100%); /* Gradiente suave do branco ao azul claro do rodapé */
    min-height: 100vh;
}

.logo {
    width: 7%;
    margin: 10px 0 0 10px;
    display: inline-block;
}


header {
    background-color: #071A3D;
}

.divHeader {
    position: relative;
    margin: auto;
    width: 100%;
    align-items: center;
    padding-bottom: 30px;
    display: flex;
    /* espaçamento baixo*/
}

/* MENU padrão (desktop)*/

nav {
    position: absolute;
    top: 10px;
    right: 150px;
}

nav.menu ul {
    display: flex;
    top: 10px;
    padding-left: 140;
    gap: 40px;
    list-style: none;
}

nav.menu li,
nav.menu a {
    color: white;
    font-size: 20px;
    /* margin: 0 10px; */
    /* margem lateral igual nos dois lados */
    text-decoration: none;
}

/*BOTAO HAMBURGUER (oculto no desktop)*/
.menu-toggle {
    display: none;
    font-size: 40px;
    background: #071A3D;
    color: white;
    border: none;
    cursor: pointer;
    text-align: right;
    width: 100%
}



/* FOOTER - Estilização */
footer {
    background: url("./assets/fundo_rodape.png") no-repeat;
    background-size: 100%;
    height: 100px;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: blue;
    padding: 20px 10px 10px 0;
}

footer i {
    color: #f4f5f7;
}

footer p {
    color: #fbfdff;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    margin: 0;
    padding: 0 10px 20px 0;
}

.logo_footer {
    width: 8%;
    margin-left: 84%;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    /* Logo maior em mobile para o menu hamburguer */
    .logo {
        width: 140px;
        height: auto;
        margin: 6px 12px;
    }

    .menu-toggle {
        display: block;
        right: 140px;
    }

    nav.menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #071A3D;
        width: 100%;
        text-align: center;
        z-index: 10;
    }

    nav.menu.ativo {
        display: block;
    }

    nav.menu ul {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        right: 10px;
    }

}