@font-face {
    font-family: 'minhafonte';
    src: url("./assets/HastinaFreeFont.otf");
}


/*HEADER - Estilização */

body {
    margin: 0;
    border: 0;
    font-family: 'minhafonte';
}

.logo {
    width: 005%;
    margin: 10px 0 0 10px;
}


header {
    background-color: #071A3D;
}

.divHeader {
    position: relative;
    margin: auto;
    width: 100%;
    align-items: center;
    padding-bottom: 10px;
    display: flex;
    /* espaçamento baixo*/
}

/* MENU padrão (desktop)*/

nav {
    position: absolute;
    top: 10px;
    right: 150px;
}

nav.menu ul {
    display: flex;
    top: 10px;
    padding-left: 140;
    gap: 40px;
    list-style: none;
}

nav.menu li,
nav.menu a {
    color: white;
    font-size: 20px;
    /* margin: 0 10px; */
    /* margem lateral igual nos dois lados */
    text-decoration: none;
}

/*BOTAO HAMBURGUER (oculto no desktop)*/
.menu-toggle {
    display: none;
    font-size: 40px;
    background: #071A3D;
    color: white;
    border: none;
    cursor: pointer;
    text-align: right;
    width: 100%
}

/*BANNER - Estilização */

.banner {
    width: 100%;
    height: fit-content;
}


/* SOBRE NÓS - Estilização*/
.sobrenos {
    margin: 1;
    text-align: justify;
    margin: auto;
    width: 50%;
    margin-left: 20%;
}

.titulo_sobrenos {
    clear: left;
    text-align: center;
    font-size: 32px;
    color: #8b4513;
}

.titulo_sobrenos {
    color: #d4a373;
    transition: 1s;
    cursor: pointer;
}

.para_sobre {
    font-size: 90px;
}

.texto_diferente {
    color: #071A3D;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.container_sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 150px;
    text-align: center;
}

/*Imagem do sobre nós*/
.img_sobrenos {
    width: 400px;
    float: left;
    margin: 0 20px;
    height: 500px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.img_sobrenos:hover {
    transform: translateY(-30px);
    transition: 1s all;
}

.para_sobre {
    padding: 0 140px 50px 140px;
    font-size: 18px;
    text-align: justify;
}

/* FOOTER - Estilização */
footer {
    background: url("./assets/fundo_rodape.png") no-repeat;
    background-size: 100%;
    height: 100px;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: blue;
    padding: 20px 10px 10px 0;
}

footer i {
    color: #f4f5f7;
}

footer p {
    color: #fbfdff;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    margin: 0;
    padding: 0 10px 20px 0;
}

.logo_footer {
    width: 8%;
    margin-left: 84%;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    .logo {
        width: 40%;
    }

    .menu-toggle {
        display: block;
        right: 140px;
    }

    nav.menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #071A3D;
        width: 100%;
        text-align: center;
        z-index: 10;
    }

    nav.menu.ativo {
        display: block;
    }

    nav.menu ul {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        right: 10px;
    }

}